/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/

/* * {
    outline: 1px dotted black;
} */

/* Doodle Stage */
  #stage {
    background: none;  
    height: 316px;
    width: 552px;
  }

  @keyframes sway {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(2deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
/* 
  .music {
    animation: sway infinite;
  }
  
  .music:nth-child(1) {
    animation-duration: 2s;
    animation-delay: 0s;
  }
  
  .music:nth-child(2) {
    animation-duration: 3s;
    animation-delay: 1s;
  }
  
  .music:nth-child(3) {
    animation-duration: 4s;
    animation-delay: 2s;
  } */

  music {
    animation: sway infinite;
  }
  
  .music1 {
    animation: sway 3s infinite;
    animation-delay: 1s;
  }
  
  .music2 {
    animation: sway 4s infinite;
    animation-delay: 1s;
  }
  
  .music3 {
    animation: sway 4s infinite;
    animation-delay: 2s;
  }

.play-button-container {
  position: relative;
}

.play-circle {
  cursor: pointer;
  transition: fill 0.3s ease;
}

.play-triangle {
  cursor: pointer;
  transition: fill 0.3s ease;
}

.play-triangle:hover {
  fill: #e21a1a; /* Darker hover effect */
}

.stop-square:hover {
  fill: #e21a1a; /* Darker hover effect for the square */
}

#vine-rope {
  stroke: #285711;
  stroke-width: 6px;
  animation: sway 4s infinite;
  filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.5)); /* Drop shadow for the vine */
}

#Google path {
  filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.6)); /* Drop shadow for Google letters */
}